body {
    margin: 0;
    padding: 0;
    background-image: url("imagens/Foto-equipe-1.jpeg");
    
}

header{
    background: #c92626;
    height: 80px;
    padding-top: 10px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;   
}

.logo{
    display: flex;
    align-items: center;
    right: 20px;
}

.logo-img {
    width: 80px;
    height: 60px;
    margin-right: 20px;
}

.logo-titulo{
    color: white;
    font-family:'Roboto Slab' ;
    font-size: 50px;
    margin: 20px;
}

.nav-lista{
    color: #FFF5CF;
    display: flex;
    list-style-type: none;
}

li a{
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto Slab';
    text-decoration: none;
}

a:hover{
    color:red;
    text-decoration: none;
}
